<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Spot</title>
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <h1>
            <a href="/">
                Welcome to the Blog Spot!
            </a>
        </h1>
        {{!-- <nav>
            {{#if logged_in}}
            <a href="/profile">profile</a>
            <button class="btn" id="logout">logout</button>
            {{else}}
            <a href="/login"> <button class="btn">login</button></a>
            {{/if}}
        </nav> --}}
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <footer>

    </footer>

    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}
</body>

</html>