{{!-- Will allow a user who is logged in to edit or delete their posts --}}
{{#each posts}}
<div class="card mb-3">
    <div class="userPost">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card-body">
            <p>{{content}}</p>
            <p>Created on: {{format_date date_created}}</p>
        </div>
    </div>
</div>
{{/each}}